body {
  font-family: verdana;
}
a {
  text-decoration: none;
}
h2 {
  padding-left: 40px;
  /*font-style: italic;*/
}
p {
  color: red;
  font-size: 16px;
}
#content {
  display: flex;
  flex-direction: row;
}
#ownUser {
  width: 100%;
  padding-left: 20px;
  padding-right: 10px;
}
#otherUser {
  width: 100%;
  padding-left: 10px;
  padding-right: 20px;
}
#welcome {
  text-align: center;
}
td {
  border-bottom: 1px solid #dcdcdc;
}
td button {
  float: right;
}
button {
    background-color: white;
    color: black;
    transition-duration: 0.4s;
    border: 2px solid #e7e7e7;
    cursor: pointer;
}
button:hover {
  color: white;
}
.button:hover {
  background-color: #555555;
}
.button1:hover {
    background-color: #f44336;
}
.button2:hover {
  background-color: #008CBA;
}
.button3:hover {
  background-color: #4CAF50;
}
